In [1]:
import numpy as np
import pandas as pd

In [2]:
#Set the random seed for reproducibility
np.random.seed(123)

#Create a dataframe with two classes
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples * class_0_ratio)
n_class_1=n_samples - n_class_0

In [3]:
n_class_0

900

In [4]:
n_class_1

100

In [8]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2':np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0] * n_class_0        #It will create 900 zeros
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2':np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1] * n_class_1      #It will create 100 ones
})

In [11]:
df=pd.concat([class_0, class_1]).reset_index(drop=True)

In [12]:
df.head()

   feature_1  feature_2  target
0  -0.471276   0.328462       0
1   1.084072   1.038230       0
2  -0.379223   1.147064       0
3  -0.362274   0.638254       0
4  -0.681071  -1.075766       0

In [13]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [14]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [15]:
df_minority.head()

     feature_1  feature_2  target
900   1.775921   0.902553       1
901   2.338840   1.058241       1
902   1.728472   3.670939       1
903   3.365531   2.067791       1
904   1.262626   3.630785       1

In [16]:
df_majority.head()

   feature_1  feature_2  target
0  -0.471276   0.328462       0
1   1.084072   1.038230       0
2  -0.379223   1.147064       0
3  -0.362274   0.638254       0
4  -0.681071  -1.075766       0

In [17]:
##Upsampling perfrom
from sklearn.utils import resample